.form_diagnostico,
.form_asignacion,
.form_incidencias{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-fields{
    height: 50px;
    width: 98%;
    margin-left: 3px;
    margin-bottom: 35px;
    border-bottom: 1px solid #ccc;
}

.input-fields:first-child{
    margin-top: 15px;
}

.text-area-field{
    height: 100px;
    width: 95%;
    margin-left: 2px;
    margin-bottom: 35px;
    border-bottom: 1px solid #ccc;
}

.image-fields{
    height: 50px;
    width: 95%;
    margin-left: 2px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ccc;
}

.input-fields:last-child{
    margin-bottom: 0px;
}

.button_form{
    margin: 0; 
    width: 85%;
    height: 40px;
    color: white;
}

.button_form[type="submit"]{
    margin-bottom: 15px;
}

