@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.Logo {
  width: 200px;
}

.btn_menu {
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 25px;
  font-size: 28px;
}

.custom-header {
  height: 64px; 
}

.btns{
  width: 20%;
  display: flex;
  justify-content: center;
}

.custom-toolbar {
  width: 100%;
  height: 100%;
  display: flex;
}


.home_content{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_content img{
  margin-top: 125px;
  margin-bottom: 50px;
}

.home_info{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  .btn_menu {
    color: #000;
  }

  .home_content img{
    filter: drop-shadow(0px 3px 3px rgb(0, 0, 0));
  }
}

@media (prefers-color-scheme: dark) {
  .btn_menu {
    color: #fff;
  }
}