

.background{
    width: 100%;
    height: 100vh;
    background: url('../assets/Sprinkle.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.Form_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_fields{
    height: 50px;
    width: 95%;
    margin-left: 10px;
    border-bottom: 1px solid #ccc;
}

.login_fields:first-child{
    margin-bottom: 25px;
}

.icon{
    font-size: 24px;
}

.button{
    margin-left: 15px;
    height: 50px;
    width: 90%;
    margin-top: 35px;
    color: #ffff;
}

.nom_sistema{
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.nom_sistema h1{
    margin-left: 2px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

.logoUCR{
    width: 300px;
}